.backup
modified_maps
original_maps
work_maps
maps.json
Scripts
Lib
Include
pyvenv.cfg
.git
__pycache__
Rocket_League_WorkMaps.zip
Rocket_League_WorkMaps_Installer
Rocket_League_WorkMaps_Installer.zip